
input, textarea, .uneditable-input {
    width: 357px;
}
.fancymodal.fancymodal-theme-classic .fancymodal-content {
  max-width: 40%;
   background-color: white;
 /*  background-color: #623114; */	
  color: #fff; }
.fancymodal.fancymodal-theme-classic .fancymodal-content-opening {
  -webkit-animation: fancymodal-in 1s;
  animation: fancymodal-in 1s; }
.fancymodal.fancymodal-theme-classic .fancymodal-content-closing {
  -webkit-animation: fancymodal-out 1s;
  animation: fancymodal-out 1s; }
.fancymodal.fancymodal-theme-classic .fancymodal-overlay-opening {
  -webkit-animation: fancymodal-fadeIn 1s;
  animation: fancymodal-fadeIn 1s; }
.fancymodal.fancymodal-theme-classic .fancymodal-overlay-closing {
  -webkit-animation: fancymodal-fadeOut 1s;
  animation: fancymodal-fadeOut 1s; }
  
.fancymodal.fancymodal-theme-chat .fancymodal-content {
  max-width: 30%;
 /*  background-color: #fceed4; */
 	background-color: white;	
 /*  background-color: #623114; */
  color: #000; }
.fancymodal.fancymodal-theme-chat .fancymodal-content-opening {
  -webkit-animation: fancymodal-in 1s;
  animation: fancymodal-in 1s; }
.fancymodal.fancymodal-theme-chat .fancymodal-content-closing {
  -webkit-animation: fancymodal-out 1s;
  animation: fancymodal-out 1s; }
.fancymodal.fancymodal-theme-chat .fancymodal-overlay-opening {
  -webkit-animation: fancymodal-fadeIn 1s;
  animation: fancymodal-fadeIn 1s; }
.fancymodal.fancymodal-theme-chat .fancymodal-overlay-closing {
  -webkit-animation: fancymodal-fadeOut 1s;
  animation: fancymodal-fadeOut 1s; }  
  
  
  

body {
 
	padding:0;
/*     background:url("/assets/images/backgroundimg.jpg") no-repeat center center fixed;
    background-size: cover; */
  	font-family: 'Special Elite', cursive  !important;
  	color:#ffd9d9;
  	color:#000000;
  	text-shadow: 1px 1px 1px #aaa;
  	margin: 10px;
 	font-size: 170%;
 	

}

@media only screen and (min-device-width : 768px) {
         body{
           background: url('/assets/images/backgroundimg.jpg') no-repeat center center fixed;
           background-size: cover;
           height: 100%;
           color:#ffd9d9 ;
         }
} 



.transparent {
	
	opacity: 0.4;
	color:black;
	
}


.sample-show-hide {
  padding:10px;
  border:1px solid black;
  background:white;
}

.sample-show-hide {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.sample-show-hide.ng-hide {
  opacity:0;
}


.bigphone {
  font-size: 250%;
  text-shadow: 3px 3px 3px #aaa;
  color: default;
}

.mbigphone {
  font-size: 180%;
  text-shadow: 2px 2px 2px #aaa;
  color: default;
}



.red {	
	color: red;
	display: inline-block;
	font-family: 'Special Elite', cursive !important;
}

.counter {
	
	color: red;
	font-family: 'Special Elite', cursive !important;
	font-size: 270%;
	margin-top:10%;
	margin-left: 15%;
	
}

.imgcenter {
	width:90%;
	display: block;
    margin-left: auto;
    margin-right: auto;

}


.modaltitle {
	
	font-family: 'Special Elite', cursive !important;
	font-size: 200%;
	margin-top:5%;
	margin-bottom: 25px;
	margin-left: 10px;
	
	
}

.modalbigphone {
  font-size: 170%;
  text-shadow: 3px 3px 3px #aaa;
  color: red;
}

.marginetop10 {
	margin-top:10px;
	
}

.modaltext {
	
	font-size: 150%;
	
}

.mmodaltext {
	
	font-size: 120%;
	
}

/* 
.chatInput {

	margin-top:10%;
	margin-right: 15% !important ;
	padding-right: 50px !important;
	display: inline-block;
    vertical-align: middle;
      
	
	
} */

.chatInput input{
	
	width: 90%;
   
	
	}
 

.boxImage {
	-moz-box-shadow: 10px 10px 5px #4d4d4d;
	-webkit-box-shadow: 10px 10px 5px #4d4d4d;
	box-shadow: 10px 10px 5px #4d4d4d;
	 margin-bottom: 15px;
}

.boxImageSmall {
	-moz-box-shadow: 7px 7px 3px #4d4d4d;
	-webkit-box-shadow: 7px 10px 3px #4d4d4d;
	box-shadow: 7px 7px 3px #4d4d4d;
	 margin-bottom: 10px;
}
// injector
// endinjector


